<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<title>Education</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/style-main.css" %}"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static "css/style-material.css" %}">
{% block head %}

{% endblock %}
</head>
<body>
{% block tab %}

{% endblock %}


 <!-- What is this string?  5aa0d5d08d8bb6feaad0923c5649316ed198d5cf-->

<div class="container">

   <div class="ct" id="t1">
  <div class="ct" id="t2">
    <div class="ct" id="t3">
      <div class="ct" id="t4">
          <ul id="menu">
            <a href="#t1"><li class="icon fa fa-university" id="uno"></li></a>
            <a href="#t2"><li class="icon fa fa-location-arrow" id="dos"></li></a>
          </ul>
          <div class="page" id="p1">
             <section class="icon fa fa-university"><span class="title">Discover the best institutes!</span><span class="hint"><br> 
             </span></section>  
          </div>
          <div class="page" id="p2">
            <!-- <section class="icon fa fa-location-arrow"><span class="title">Pin Code</span></section> -->
            <form class="form-inline" method="post" class="form-horizontal" action="/search" enctype="multipart/form-data">{% csrf_token %}
              <div class="form-group">
              <!-- <form method="post" class="form-horizontal" action="/search" enctype="multipart/form-data">{% csrf_token %} -->
                <input type="text" placeholder="Pincode" class="form-control input-lg" id="inputlg"></input>
                <center><button type="submit" class="btn btn-primary dropdown-toggle" id="nice-button" onclick="submitForm()">Submit</center></button>
              </div>
            </form>
          </div>  
      </div>
    </div>
  </div>
</div>



    
    <div class="row content">
      {% block content %}{% endblock %}
    </div>

  
</div>
  
  <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
  <script src="{% static "js/formSubmit.js" %}"></script>

  <script type="text/javascript">
  $(".nav a").on("click", function(){
       $(".nav").find(".active").removeClass("active");
       $(this).parent().addClass("active");
    });
  </script>

  {% block script %}{% endblock %}
  
</body>

</html>                                   